@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 45%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 72% 51%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5.9% 10%;
    --chart-1: 173 58% 39%;
    --chart-2: 12 76% 61%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground font-body;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-heading;
  }
}

/* globals.css */
:root {
    --background: #ffffff; /* Light background */
    --foreground: #000000; /* Light text */
    --background-color: #ffffff; /* Light background */
    --text-color: #000000; /* Light text */
    --border-color: #e5e7eb; /* Light border color */
}

.dark {
    --background: #1a202c; /* Dark background */
    --foreground: #ffffff; /* Dark text */
    --background-color: #1a202c; /* Dark background */
    --text-color: #ffffff; /* Dark text */
    --border-color: #4b5563; /* Dark border color */
}
.theme-dark {
    --dark-text: #292929;
    --light-text: #F9F8F8;
    --dark-background: #2F4550;
    --light-background: #586F7C;
    --accent: #B8DBD9;
    --button-border: #B8DBD9;
}
.theme-light {
    --dark-text: #5E4B56;
    --light-text: #5E4B56;
    --dark-background: #DBE7E4;
    --light-background: #EDDCD2;
    --accent: #DBE7E4;
    --button-border: #5E4B56;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
}

.main-content {
    border: 1px solid var(--border-color);
    padding: 1rem; /* Adjust padding as needed */
    border-radius: 0.5rem; /* Optional: for rounded corners */
}

/* Additional styles for dark mode */
.dark .main-content {
    border-color: var(--border-color);
}

/* Add more specific styles as needed */

.bg-popover {
    background-color: var(--background);
}

.text-popover-foreground {
    color: var(--foreground);
}

.dropdown-item:hover {
    background-color: gray; /* Adjust as needed */
}
